.gradient-back{
background: #c98553; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#c98553,#c14253,#7a4d6c,#49507a) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#c98553,#c14253,#7a4d6c,#49507a) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#c98553,#c14253,#7a4d6c,#49507a) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#c98553,#c14253,#7a4d6c,#49507a) !important; /* Standard syntax */
}
.border-none{
	border:none !important;
}
.user-login-5 .login-container>.login-content {
            margin-top: 25% !important;
}
.login:before {
    content: '';
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #c98452; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#c98452,#b8364e,#8a4662, #4b507a); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#c98452,#b8364e,#8a4662, #4b507a); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#c98452,#b8364e,#8a4662, #4b507a); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#c98452,#b8364e,#8a4662, #4b507a); /* Standard syntax */ 
  }
@media(max-width:1024px)
{
	.login:before {
	position: fixed !important;
}
}
	

